@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .col-xs-6 {
        width: 50%;
        float: left;
        position: relative;
    }
    .col-xs-12 {
        width: 100%;
        float: left;
        position: relative;
    }
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1024px) {
    .container {
        width: 1000px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1183px
    }
}

@media only screen and (max-width: 767px) {
    .header-logo {
        text-align: left !important;
    }
    .header-logo img {
        height: 80px;
    }
    .header-contact {
        top: 30px !important;
    }
    .header-contact h2 {
        font-size: 20px !important;
    }
    .header-contact p {
        font-size: 12px !important;
    }
    .slide-logo img {
        width: 60px !important;
    }
    .slide-content h3 {
        font-size: 14px !important;
    }
    .slide-content h2 {
        font-size: 20px !important;
    }
    .slide-content p {
        font-size: 12px !important;
    }
    .slide-content a {
        font-size: 13px !important;
        margin-top: 10px !important;
        padding: 6px !important;
    }
    #features .item-content h2 {
        font-size: 32px;
    }
    .cooking .item-content h2 {
        white-space: nowrap !important;
    }
    .what-on .item-news img {
        width: 100%;
        margin-bottom: 10px;
    }
    .opening {
        padding-left: 40px !important;
    }
    .contact-us {
        padding-left: 50px !important;
    }
    .footer-logo {
        padding-left: 0 !important;
    }
    footer .footer-menu {
        padding-left: 20px;
    }
    footer .copyright {
        padding-left: 20px;
    }
}


/* -------------- toggle-menu ------------------- */

@media (max-width:991px) {
    .toggle-menu {
        display: block;
    }
    .nav-menu {
        display: none;
    }
    nav.active {
        display: block;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        z-index: 9999;
        background: #cd4143;
        border-top: 1px solid #fff;
    }
    .header-menu nav.active ul li {
        float: none;
        border-right: none;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-logo {
        text-align: left !important;
    }
    .header-logo img {
        height: 100px;
    }
    .header-contact {
        top: 45px !important;
    }
    #features .item-content h2 {
        font-size: 32px;
    }
    #features .item-content p {
        font-size: 14px;
    }
    .cooking img {
        height: 222px !important;
    }
    .sport {
        margin-top: 18px !important;
    }
    .content-title {
        font-size: 22px;
    }
    .what-on .item-news img {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer-menu {
        padding-left: 100px !important;
        margin-top: 20px;
    }
    .copyright {
        padding-left: 120px !important;
    }
    .col-sm-4 {
        width: 33.33333333%;
        float: left;
        position: relative;
    }
    .col-sm-12 {
        width: 100%;
        float: left;
        position: relative;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .what-on .item-news p {
        margin-top: 7px;
        margin-bottom: 8px;
    }
    .nav-menu ul li {
        padding: 30px 28px !important;
    }
    .footer-menu ul li {
        padding: 0 8px !important;
    }
    footer .contact-us {
        padding-left: 20px;
    }
    footer .opening {
        padding: 0 10px;
    }
    footer .footer-logo {
        padding-left: 0;
    }
    footer .footer-menu {
        padding-left: 0;
    }
    footer .copyright {
        padding-left: 0;
    }
}