/* font-face */

@font-face {
    font-family: Oswald;
    src: url('font/Oswald-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    src: url('font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('font/Roboto-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("image/background.jpg");
    background-size: cover;
    font-family: Roboto;
}

.container {
    width: 1183px;
    margin: 0 auto;
    position: relative;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container:after,
.container:before,
.row:after,
.row:before {
    display: table;
    content: " "
}

.row:after {
    clear: both
}

.col-4,
.col-6,
.col-12 {
    float: left;
    position: relative;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}


/* ------------ Header-top ------------- */

.header-top .header-logo {
    padding-top: 19px;
    padding-bottom: 16px;
    text-align: center;
}

.header-top .header-contact {
    position: absolute;
    top: 16px;
    right: 8px;
    color: #ffffff;
    text-align: right;
}

.header-top .header-contact h2 {
    font-size: 24px;
    font-family: Oswald;
    font-weight: bold;
}

.header-top .header-contact p {
    text-transform: uppercase;
    font-size: 15px;
}


/* ------------ Header-menu ------------- */

.header-menu {
    background-color: #cd4143;
    position: relative;
    /* height: 75px; */
}

.toggle-menu {
    display: none;
    color: #fff;
    float: left;
    margin: 28px;
}

.clear {
    clear: both;
    content: '';
    display: table;
}

.header-menu .nav-menu {
    float: left;
}

.header-menu .nav-menu ul li {
    float: left;
    list-style: none;
    height: 75px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.header-menu .nav-menu ul li:first-child {
    padding: 25px 33px 25px 40px;
}

.header-menu .nav-menu ul li:nth-of-type(2) {
    padding: 30px 44px 30px 43px;
}

.header-menu .nav-menu ul li:nth-of-type(3) {
    padding: 30px 38px 30px 37px;
}

.header-menu .nav-menu ul li:nth-of-type(4) {
    padding: 30px 43px 30px 40px;
}

.header-menu .nav-menu ul li:nth-of-type(5) {
    padding: 30px 36px 30px 38px;
}

.header-menu .nav-menu ul li:nth-of-type(6) {
    padding: 30px 41px 30px 43px;
}

.header-menu .nav-menu ul li:last-child {
    padding: 30px 27px 30px 31px;
}

.header-menu .nav-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto-Bold;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
}

.header-menu .nav-menu ul li a:hover {
    color: #464646;
}


/* ------------ search box ------------- */

ul.tert-nav {
    float: right;
    margin-right: 10px;
    margin-top: 28px;
    list-style: none;
}

ul.tert-nav li {
    float: right;
    width: 26px;
    height: 28px;
    color: #fff;
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
}

ul.tert-nav .search {
    width: 145px;
    text-align: left;
    cursor: default;
}

ul.tert-nav .searchbox {
    display: none;
    width: 100%;
}

ul.tert-nav .searchbox .closesearch {
    background: #222;
    cursor: pointer;
}

ul.tert-nav .searchbox input[type=text] {
    float: left;
    width: 115px;
    height: 26px;
    padding: 0px 0px 0px 10px;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.header-menu .searchit i:hover {
    color: #464646;
}

.header-menu .searchit i {
    color: #ffffff;
}


/* ------------ slide ------------- */

.slideshow {
    position: relative;
}

.slide-bar {
    position: relative;
}

.slide-food {
    position: absolute;
    top: 0;
    left: 0;
}

#slide .slide-logo {
    position: absolute;
    top: 3px;
    left: 16px;
    z-index: 999;
}

#slide .slide-content {
    position: absolute;
    bottom: 22%;
    right: 27px;
    color: #ffffff;
}

#slide .slide-content h2,
#slide .slide-content h3 {
    text-transform: uppercase;
    font-family: Oswald;
    background-color: rgba(0, 0, 0, 0.46);
}

#slide .slide-content h3 {
    display: inline-block;
    font-size: 26px;
    padding-left: 19px;
    padding-right: 15px;
}

#slide .slide-content h2 {
    margin-top: 11px;
    font-size: 51px;
    padding: 0px 17px;
}

#slide .slide-content a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 19px;
    color: #ffffff;
    background-color: #cd4143;
    float: right;
    padding: 10px 14px;
    margin-top: 21px;
    margin-right: 17px;
    border-radius: 3px;
}

.slide-food .slide-content a {
    margin-right: 0 !important;
}

#slide .slide-content a:hover {
    color: #464646;
}


/* ------------ features ------------- */

#features .container {
    background: #fff;
}

#features .item {
    position: relative;
    overflow: hidden;
}

#features .item:hover img {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

#features .item:hover .item-content h2 {
    color: #cd4143;
}

.item a {
    text-decoration: none;
}

.item img {
    transition: 0.4 ease;
    -webkit-transition: 0.4s ease;
}

#features .item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
}

#features .item-content h2 {
    text-transform: uppercase;
    font-family: Oswald;
    border-bottom: 3px solid #ffffff;
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    padding-bottom: 14px;
    color: #fff;
}

#features .item-content p {
    font-size: 16px;
    margin-top: 15px;
    white-space: nowrap;
    line-height: 1;
}

#slide img,
#features img {
    display: block;
    width: 100%;
}


/* ------------ features weekly ------------- */

#features .weekly {
    margin: 26px 14px 0px 20px;
}

.weekly .item-content h2 {
    font-size: 55px;
    padding: 0 20px;
}

.weekly .item-content {
    top: 52% !important;
}


/* ------------ features sport ------------- */

#features .sport {
    margin: 24px 14px 0px 20px;
}

.sport .item-content h2 {
    font-size: 48px;
    margin-top: 5px;
}

.sport .item-content {
    top: 53% !important;
}


/* ------------ features cooking ------------- */

#features .cooking {
    margin: 26px 17px 0px 13px;
}

.cooking .item-content h2 {
    font-size: 55px;
    line-height: 1.3 !important;
    white-space: pre-wrap !important;
}

.cooking .item-content {
    top: 46% !important;
}


/* ------------ features find us ------------- */

#features .find-us {
    margin: 26px 24px 0px 8px;
}

.find-us .item-content h2 {
    font-size: 39px;
}


/* ------------ features functions ------------- */

#features .functions {
    margin: 24px 24px 0px 8px;
}

.functions .item-content h2 {
    font-size: 39px;
}


/* ------------ content what's on ------------- */

#content .container {
    padding-bottom: 54px;
    padding-top: 66px;
    background: #fff;
}

.content-title {
    font-size: 30px;
    text-transform: uppercase;
    font-family: Oswald;
    margin-bottom: 18px;
    margin-left: 30px;
    line-height: 1;
}

.what-on .item-news {
    position: relative;
    overflow: hidden;
    padding: 13px 15px 30px;
    border-top: 1px solid #ece8e8;
    margin-right: 14px;
    margin-left: 23px;
}

.what-on .item-news img {
    float: left;
    padding-right: 15px;
}

.what-on .item-news .news-title {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.what-on .item-,
.what-on .item-news .news-title:hover {
    text-decoration: underline;
    color: #cd4143;
}

.what-on .item-news h4 {
    font-size: 14px;
    color: #cd4143;
    text-transform: uppercase;
    margin-top: 6px;
}

.what-on .item-news p {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.what-on .item-news .btn-readmore {
    text-decoration: none;
    color: #fff;
    background: #cd4143;
    text-transform: uppercase;
    font-size: 12px;
    padding: 9px 13px;
}

.what-on .item-news .btn-readmore:hover {
    color: #464646;
}


/* ------------ content about ------------- */

#content .about {
    margin-left: 28px;
    margin-right: 25px;
    position: relative;
}

#content .about .content-title {
    margin-left: 0;
}

#content .about .content-about p {
    font-size: 15px;
    padding-top: 13px;
    line-height: 1.5;
}

#content .about .content-about .map {
    margin-top: 33px;
    display: block;
}

map:focus {
    outline: none;
}


/* ------------ footer ------------- */

footer {
    margin-bottom: 116px;
}

footer .container {
    background: #2a2a2b;
    padding-top: 23px;
    padding-bottom: 49px;
}

footer .opening {
    padding-left: 56px;
}

.footer-title {
    font-size: 13px;
    text-transform: uppercase;
    font-family: Roboto-Bold;
    color: #b2b2b3;
    margin-bottom: 7px;
    padding-top: 20px;
}

footer li {
    list-style: none;
    color: #808184;
    font-size: 13px;
    line-height: 1.6;
}

footer .contact-us {
    padding-left: 83px;
}

footer .footer-logo {
    text-align: center;
    padding-left: 33px;
}


/* ------------ footer menu ------------- */

footer .footer-menu {
    padding-left: 36px;
}

footer .footer-menu ul {
    float: left;
    padding-top: 19px;
}

footer .footer-menu ul li {
    float: left;
    line-height: 1;
    border-right: 1px solid #808184;
}

.footer-menu li a {
    text-decoration: none;
    color: #808184;
}

footer .footer-menu ul li:first-child {
    padding: 0 9px;
}

footer .footer-menu ul li:nth-of-type(2) {
    padding-left: 11px;
    padding-right: 13px;
}

footer .footer-menu ul li:nth-of-type(3) {
    padding-left: 12px;
    padding-right: 11px;
}

footer .footer-menu ul li:nth-of-type(4) {
    padding-left: 11px;
    padding-right: 11px;
}

footer .footer-menu ul li:nth-of-type(5) {
    padding-left: 12px;
    padding-right: 18px;
}

footer .footer-menu ul li:nth-of-type(6) {
    padding-left: 15px;
    padding-right: 12px;
}

footer .footer-menu ul li:last-child {
    padding-left: 12px;
    border-right: none;
}

footer .copyright {
    color: #808184;
    font-size: 13px;
    padding-left: 47px;
}

footer .copyright ul {
    float: left;
    margin-top: 18px;
}

footer .copyright li {
    float: left;
}

footer .copyright i {
    padding: 6px 8px;
    margin-right: 10px;
    background: #464646;
    color: #ffffff;
}

footer .copyright p {
    letter-spacing: 0.2px;
    text-align: center;
}


/* ------------ only safari ------------- */

@media screen and (-webkit-min-device-pixel-ratio:0) {
     ::i-block-chrome,
    .slide-content h2 {
        font-size: 50px !important;
    }
     ::i-block-chrome,
    .slide-content h3 {
        font-size: 25px !important;
    }
     ::i-block-chrome,
    .slide-content a {
        font-size: 18px !important;
    }
}


/* ------------ only firefox ------------- */

@-moz-document url-prefix() {
    .slide-content h2 {
        font-size: 49px !important;
    }
    .slide-content h3 {
        font-size: 25px !important;
    }
}